---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Custom Made Web Solutions | Web Design, Development, SEO & Support">
    <!-- ===== NAVBAR ===== -->
    <header class="sticky top-0 z-50 border-b border-gray-100 bg-white/70 backdrop-blur supports-[backdrop-filter]:bg-white/50 dark:border-white/10 dark:bg-gray-950/60">
        <nav class="mx-auto flex max-w-7xl items-center justify-between px-6 py-3">
            <a href="#" class="flex items-center gap-2">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 581.13 219.96" class="h-12 dark:hidden"> <g id="Layer_1-2" data-name="Layer 1"> <g> <g> <polygon points="474.02 172.85 508.66 126.01 508.66 107.89 483.26 107.89 483.26 151.22 439.93 151.22 439.93 176.62 471.22 176.62 474.02 172.85" fill="#4100f5" stroke-width="0"></polygon> <polygon points="549.86 151.22 547.07 155 512.4 201.84 512.4 219.95 537.81 219.95 537.81 176.62 581.13 176.62 581.13 151.22 549.86 151.22" fill="#4100f5" stroke-width="0"></polygon> <path d="M535.74,107.89c-27.55,37.35-55.1,74.71-82.65,112.07h32.25c27.64-37.36,55.28-74.71,82.91-112.07h-32.51Z" fill="#4100f5" stroke-width="0"></path> </g> <g> <path d="M98.97,107.76c-16.11,0-24.28,3.22-27.99,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.36-25.45,8.97v-7.83H0v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.16-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#1b1919" stroke-width="0"></path> <path d="M181.88,107.76c-17.61,0-24.62,1.32-29.99,5.65-3.89,3.08-5.43,6.78-5.69,13.65l-.05,1.14h18.86l.1-.99c.51-5.1,1.16-6.06,18.79-6.06s19.41,1.55,19.41,12.36v2.49c-3.56-4.03-10.07-4.85-22.93-4.85-28.53,0-36.82,2.7-36.82,20.59,0,8.22,2.38,13.36,7.47,16.17,4.33,2.49,10.97,3.29,27.34,3.29,14.62,0,21.71-1.63,25.2-6.52v5.39h18.8v-37.58c0-9.95-.96-13.59-4.69-17.72-5.05-5.58-12.41-7.03-35.78-7.03ZM162.22,150.88c0-2.6,1.02-4.72,2.63-5.42,2.85-1.3,8.38-1.91,17.41-1.91,9.77,0,15.71.61,18.74,1.94,1.52.57,2.43,2.4,2.43,4.89,0,5.88-2.65,7.58-20.16,7.58-7.7,0-12.04-.11-14.05-.36-5.83-.91-7-3.24-7-6.72Z" fill="#1b1919" stroke-width="0"></path> <path d="M300.01,87.43v28.44c-1.59-2.08-3.26-3.45-5.56-4.71-4.05-2.16-11.91-3.39-21.54-3.39-13.41,0-21.6,1.34-27.45,4.54-7.66,4.43-10.13,11.36-10.13,28.49,0,12.29,1.72,18.78,6.13,23.18,5.12,5.15,14.18,7.23,31.2,7.23s23.51-1.92,27.84-8.81v7.69h18.28v-82.66h-18.78ZM297.24,152.68c-2.24,2.57-7.28,3.64-17.41,3.64-1.78,0-13.38-.38-14.23-.49-3.31-.36-6.3-1.37-7.8-2.63-2.38-2.16-3.42-6.21-3.42-13.52,0-6.93.93-10.95,3.12-13.49,2.41-2.74,7.99-3.67,22.2-3.67,17.87,0,20.56,2.33,20.56,17.79,0,5.45-1.18,10.29-3.01,12.37Z" fill="#1b1919" stroke-width="0"></path> <path d="M411.62,138.8c0-12.12-1.55-18.2-5.95-23.25-5.33-5.87-12.87-7.66-32.26-7.66-21.03,0-28.71,1.48-34.21,6.58-5.27,4.88-7.52,12.46-7.52,25.33,0,16.07,3.55,23.67,13.11,28.05,4.63,2.06,15.2,3.24,29,3.24,17.94,0,26.22-1.55,31.64-5.91,3.87-3.2,5.8-7.82,6.06-14.51l.05-1.14h-18.45l-.13.95c-.71,5.36-3.35,7.6-17.91,7.6-11.92,0-18.8-.98-21.01-2.97-1.9-1.8-2.93-5.5-3.15-11.31h60.73v-5ZM391.57,125.98c.91,1.72,1.29,3.27,1.37,5.81h-42.07c.09-3.96,1.77-7.37,4.33-8.76,3.27-1.76,6.71-2.13,19.36-2.13,5.74,0,11.3.8,14.11,2.02,1.09.55,2.18,1.69,2.92,3.06Z" fill="#1b1919" stroke-width="0"></path> <g> <path d="M3.9,195.7l9.23,20.87,7.79-20.87h5.39l7.79,20.87,9.23-20.87h3.74l-10.53,23.61h-5.04l-7.94-21.11-7.99,21.11h-4.99L0,195.7h3.89Z" fill="#1b1919" stroke-width="0"></path> <path d="M55.07,208.18c0,4.04.3,5.19,1.5,6.49,1.55,1.65,3.34,2,9.98,2,8.39,0,10.48-.85,10.98-4.44h3.64c-.15,2.15-.75,3.55-2,4.74-2,2-5.34,2.69-12.83,2.69-6.84,0-10.18-.65-12.13-2.35-2.05-1.8-2.9-4.69-2.9-9.78s.85-8.04,2.9-9.83c1.95-1.7,5.29-2.35,12.08-2.35,7.94,0,11.18.85,13.08,3.49,1.4,1.9,1.9,4.24,1.85,9.33h-26.16ZM77.49,205.28c-.05-1.9-.2-2.84-.7-3.84-1.35-2.5-3.3-3.09-10.48-3.09s-9.23.6-10.53,3.09c-.5.95-.65,1.85-.7,3.84h22.41Z" fill="#1b1919" stroke-width="0"></path> <path d="M88.87,185.72h3.54v13.48c1.5-2.94,4.19-3.84,11.83-3.84,6.94,0,10.28.65,12.23,2.35,2.05,1.8,2.9,4.69,2.9,9.83s-.85,7.99-2.9,9.78c-1.95,1.7-5.24,2.35-12.23,2.35-7.59,0-10.38-.9-11.83-3.84v3.49h-3.54v-33.59ZM93.82,200.44c-.95,1.25-1.45,3.49-1.45,6.94,0,8.14,1.45,9.28,11.58,9.28,6.54,0,8.88-.5,10.23-2.1,1-1.25,1.45-3.49,1.45-7.09,0-3.95-.55-6.24-1.85-7.44-1.35-1.25-3.89-1.7-9.78-1.7-6.49,0-8.88.5-10.18,2.1Z" fill="#1b1919" stroke-width="0"></path> <path d="M167.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#1b1919" stroke-width="0"></path> <path d="M207.05,197.69c-1.81-1.59-4.61-2.22-10.49-2.33v3.01c4.51.1,6.61.58,7.79,1.67,1.3,1.26,1.85,3.5,1.85,7.58,0,3.46-.52,5.71-1.46,6.94-1.15,1.44-3.19,1.98-8.18,2.08v2.99c5.87-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM179.24,207.48c0,5.15.84,8.03,2.9,9.83,1.81,1.59,4.64,2.23,10.47,2.33v-2.99c-4.53-.1-6.59-.58-7.77-1.67-1.3-1.22-1.85-3.5-1.85-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#1b1919" stroke-width="0"></path> <path d="M217.62,185.72h3.54v33.59h-3.54v-33.59Z" fill="#1b1919" stroke-width="0"></path> <path d="M257.21,219.31h-3.54v-4.69c-1.55,4.29-4.04,5.34-12.63,5.34-5.09,0-7.69-.5-9.58-1.95-1.9-1.45-2.65-3.49-2.65-7.44v-14.88h3.54v14.68c0,5.09,1.75,6.24,9.68,6.24,8.49,0,11.63-1.9,11.63-7.04v-13.88h3.54v23.61Z" fill="#1b1919" stroke-width="0"></path> <path d="M262.73,195.7h5.69l.1-5.24h3.54l-.1,5.24h16.22v3h-16.27l-.2,11.83c-.1,5.14,1.1,6.14,7.54,6.14,3.24,0,4.84-.5,5.64-1.8.55-.8.6-1.5.6-4.99v-.8h3.19v.95c0,4.74-.2,5.94-1.2,7.19-1.4,1.75-3.89,2.44-8.49,2.44-4.94,0-7.29-.5-8.94-1.99-1.55-1.4-1.95-2.65-1.95-6.04v-1.1l.25-11.83h-5.64v-3Z" fill="#1b1919" stroke-width="0"></path> <path d="M296.4,185.72h3.54v4.34h-3.54v-4.34ZM296.4,195.7h3.54v23.61h-3.54v-23.61Z" fill="#1b1919" stroke-width="0"></path> <path d="M335.41,197.69c-1.81-1.59-4.64-2.22-10.49-2.33v3.01c4.49.1,6.59.58,7.79,1.67,1.3,1.26,1.83,3.5,1.83,7.58,0,3.46-.49,5.71-1.44,6.94-1.15,1.44-3.17,1.98-8.18,2.08v2.99c5.85-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM307.6,207.48c0,5.15.84,8.03,2.9,9.83,1.79,1.59,4.61,2.23,10.47,2.33v-2.99c-4.51-.1-6.59-.58-7.79-1.67-1.3-1.22-1.83-3.5-1.83-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#1b1919" stroke-width="0"></path> <path d="M345.98,195.7h3.54v4.69c1.55-4.29,4.04-5.34,12.63-5.34,5.09,0,7.69.5,9.58,1.95s2.65,3.49,2.65,7.44v14.87h-3.54v-14.68c0-5.09-1.75-6.24-9.68-6.24-8.49,0-11.63,1.9-11.63,7.04v13.88h-3.54v-23.61Z" fill="#1b1919" stroke-width="0"></path> <path d="M407.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#1b1919" stroke-width="0"></path> </g> </g> <g> <path d="M153.23,43.05c0,12.22-5.39,16.14-22.18,16.14s-18.91-2.93-18.91-12.99V12.14h-18.79v34.81c0,10.07,1.47,15.49,5.44,19.98,5.09,5.62,12.98,7.91,27.23,7.91,16.27,0,23.39-2.29,27.59-10.03v8.52h18.42V12.14h-18.8v30.91Z" fill="#1b1919" stroke-width="0"></path> <path d="M258.99,38.7c-5.04-2.84-11.03-3.66-26.7-3.66h-9.18c-17.45,0-18.28-1.16-18.28-4.82,0-4.03,2.87-5.95,19.16-5.95s19.79,1.23,19.79,4.94v1.6h19.42v-1.47c0-7.09-2.31-11.94-6.86-14.42-5.47-3-12.74-3.91-31.09-3.91-11.57,0-20.24.6-25.78,1.79-9.9,2.24-13.93,7.55-13.93,18.3,0,12.04,5.63,16.9,20.8,17.95,2.62.1,12.25.29,19.1.29,1.59,0,3,0,4.11-.03,1.07-.02,2.08-.03,3.03-.03,12.77,0,14.1,1.78,14.1,5.85,0,1.97-.92,3.75-2.26,4.42q-3.06,1.41-17.15,1.66c-21.95-.13-22.63-1.15-22.94-7.21v-1.72h-19.55v1.72c0,6.67,1.13,10.38,4.17,13.68,4.66,5.33,11.66,6.79,32.53,6.79,15.58,0,24.81-.51,29.93-1.67,10.39-2.37,14.44-7.71,14.44-19.06,0-7.55-2.24-12.47-6.85-15.04Z" fill="#1b1919" stroke-width="0"></path> <path d="M431.48,18.23c-5.23-4.87-13.19-6.84-30.41-7.17v14.75c15.14.27,17.52,3.12,17.52,17.49,0,8.51-1.26,12.24-4.74,14.26-2.08,1.18-5.86,1.81-12.78,2.05v14.75c9.25-.27,17.82-1.18,21.68-2.33,3.34-.99,7.06-3.12,9.28-5.31,3.5-3.53,5.58-12.07,5.58-22.91,0-15.19-1.42-21.16-6.13-25.59ZM360.84,17.82c-4.87,4.32-6.68,11.03-6.68,24.74,0,25.73,5.94,31.45,36.57,31.89v-14.78c-15.11-.3-17.52-3.09-17.52-16.75,0-7.14.85-10.84,3.01-13.25,2-2.35,5.8-3.42,14.51-3.75v-14.84c-7.94.27-16.83,1.15-20.5,2.11-3.67.93-7.17,2.68-9.39,4.63Z" fill="#1b1919" stroke-width="0"></path> <path d="M549.09,11.01c-16.11,0-24.28,3.22-28,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.37-25.45,8.97v-7.84h-18.42v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.17-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#1b1919" stroke-width="0"></path> <path d="M314.56,74.47c-13.56,0-19.98-1.67-24.55-6.36-4.77-4.78-4.26-11.89-4.23-18.09.02-4.68.04-9.35.06-14.03,0-.52.03-8.8.04-8.8h-12.06v-13.77h12.19V0h18.7l-.12,13.42h36.8v13.77h-36.83l-.24,21.94c-.06,5,.47,7.51,1.88,8.94,1.52,1.54,4.45,2.14,10.44,2.14,4.31,0,7.17-.71,8.74-2.17,1.13-1.23,1.37-2.66,1.37-8.43v-3.31h15.12v4.79c0,10.9-1.06,14.84-4.92,18.3-4.18,3.66-10.46,5.08-22.4,5.08Z" fill="#1b1919" stroke-width="0"></path> <path d="M61.77,49.78c-.41,6.85-3.2,9.92-18.66,9.92-13.18,0-17.73-.69-20.27-3.12-2.61-2.4-3.79-6.64-3.79-13.79v-.1c0-7.15,1.18-11.39,3.79-13.79,2.55-2.42,7.09-3.12,20.27-3.12,15.46,0,18.26,3.08,18.66,9.92l.06,1.04h19.4l-.04-1.14c-.51-19.07-9.23-24.59-38.83-24.59-16.73,0-25.85,1.28-31.48,4.42C3.26,19.65,0,27.8,0,42.69v.1c0,14.89,3.26,23.04,10.88,27.26,5.62,3.14,14.75,4.42,31.48,4.42,29.6,0,38.32-5.52,38.83-24.59l.04-1.14h-19.4l-.06,1.04Z" fill="#1b1919" stroke-width="0"></path> </g> </g> </g> </svg>
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 581.13 219.96" class="h-12 hidden dark:block"> <g id="Layer_1-2" data-name="Layer 1"> <g> <g> <polygon points="474.02 172.85 508.66 126.01 508.66 107.89 483.26 107.89 483.26 151.22 439.93 151.22 439.93 176.62 471.22 176.62 474.02 172.85" fill="#fcfcfc" stroke-width="0"></polygon> <polygon points="549.86 151.22 547.07 155 512.4 201.84 512.4 219.95 537.81 219.95 537.81 176.62 581.13 176.62 581.13 151.22 549.86 151.22" fill="#fcfcfc" stroke-width="0"></polygon> <path d="M535.74,107.89c-27.55,37.35-55.1,74.71-82.65,112.07h32.25c27.64-37.36,55.28-74.71,82.91-112.07h-32.51Z" fill="#fcfcfc" stroke-width="0"></path> </g> <g> <path d="M98.97,107.76c-16.11,0-24.28,3.22-27.99,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.36-25.45,8.97v-7.83H0v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.16-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M181.88,107.76c-17.61,0-24.62,1.32-29.99,5.65-3.89,3.08-5.43,6.78-5.69,13.65l-.05,1.14h18.86l.1-.99c.51-5.1,1.16-6.06,18.79-6.06s19.41,1.55,19.41,12.36v2.49c-3.56-4.03-10.07-4.85-22.93-4.85-28.53,0-36.82,2.7-36.82,20.59,0,8.22,2.38,13.36,7.47,16.17,4.33,2.49,10.97,3.29,27.34,3.29,14.62,0,21.71-1.63,25.2-6.52v5.39h18.8v-37.58c0-9.95-.96-13.59-4.69-17.72-5.05-5.58-12.41-7.03-35.78-7.03ZM162.22,150.88c0-2.6,1.02-4.72,2.63-5.42,2.85-1.3,8.38-1.91,17.41-1.91,9.77,0,15.71.61,18.74,1.94,1.52.57,2.43,2.4,2.43,4.89,0,5.88-2.65,7.58-20.16,7.58-7.7,0-12.04-.11-14.05-.36-5.83-.91-7-3.24-7-6.72Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M300.01,87.43v28.44c-1.59-2.08-3.26-3.45-5.56-4.71-4.05-2.16-11.91-3.39-21.54-3.39-13.41,0-21.6,1.34-27.45,4.54-7.66,4.43-10.13,11.36-10.13,28.49,0,12.29,1.72,18.78,6.13,23.18,5.12,5.15,14.18,7.23,31.2,7.23s23.51-1.92,27.84-8.81v7.69h18.28v-82.66h-18.78ZM297.24,152.68c-2.24,2.57-7.28,3.64-17.41,3.64-1.78,0-13.38-.38-14.23-.49-3.31-.36-6.3-1.37-7.8-2.63-2.38-2.16-3.42-6.21-3.42-13.52,0-6.93.93-10.95,3.12-13.49,2.41-2.74,7.99-3.67,22.2-3.67,17.87,0,20.56,2.33,20.56,17.79,0,5.45-1.18,10.29-3.01,12.37Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M411.62,138.8c0-12.12-1.55-18.2-5.95-23.25-5.33-5.87-12.87-7.66-32.26-7.66-21.03,0-28.71,1.48-34.21,6.58-5.27,4.88-7.52,12.46-7.52,25.33,0,16.07,3.55,23.67,13.11,28.05,4.63,2.06,15.2,3.24,29,3.24,17.94,0,26.22-1.55,31.64-5.91,3.87-3.2,5.8-7.82,6.06-14.51l.05-1.14h-18.45l-.13.95c-.71,5.36-3.35,7.6-17.91,7.6-11.92,0-18.8-.98-21.01-2.97-1.9-1.8-2.93-5.5-3.15-11.31h60.73v-5ZM391.57,125.98c.91,1.72,1.29,3.27,1.37,5.81h-42.07c.09-3.96,1.77-7.37,4.33-8.76,3.27-1.76,6.71-2.13,19.36-2.13,5.74,0,11.3.8,14.11,2.02,1.09.55,2.18,1.69,2.92,3.06Z" fill="#fcfcfc" stroke-width="0"></path> <g> <path d="M3.9,195.7l9.23,20.87,7.79-20.87h5.39l7.79,20.87,9.23-20.87h3.74l-10.53,23.61h-5.04l-7.94-21.11-7.99,21.11h-4.99L0,195.7h3.89Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M55.07,208.18c0,4.04.3,5.19,1.5,6.49,1.55,1.65,3.34,2,9.98,2,8.39,0,10.48-.85,10.98-4.44h3.64c-.15,2.15-.75,3.55-2,4.74-2,2-5.34,2.69-12.83,2.69-6.84,0-10.18-.65-12.13-2.35-2.05-1.8-2.9-4.69-2.9-9.78s.85-8.04,2.9-9.83c1.95-1.7,5.29-2.35,12.08-2.35,7.94,0,11.18.85,13.08,3.49,1.4,1.9,1.9,4.24,1.85,9.33h-26.16ZM77.49,205.28c-.05-1.9-.2-2.84-.7-3.84-1.35-2.5-3.3-3.09-10.48-3.09s-9.23.6-10.53,3.09c-.5.95-.65,1.85-.7,3.84h22.41Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M88.87,185.72h3.54v13.48c1.5-2.94,4.19-3.84,11.83-3.84,6.94,0,10.28.65,12.23,2.35,2.05,1.8,2.9,4.69,2.9,9.83s-.85,7.99-2.9,9.78c-1.95,1.7-5.24,2.35-12.23,2.35-7.59,0-10.38-.9-11.83-3.84v3.49h-3.54v-33.59ZM93.82,200.44c-.95,1.25-1.45,3.49-1.45,6.94,0,8.14,1.45,9.28,11.58,9.28,6.54,0,8.88-.5,10.23-2.1,1-1.25,1.45-3.49,1.45-7.09,0-3.95-.55-6.24-1.85-7.44-1.35-1.25-3.89-1.7-9.78-1.7-6.49,0-8.88.5-10.18,2.1Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M167.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M207.05,197.69c-1.81-1.59-4.61-2.22-10.49-2.33v3.01c4.51.1,6.61.58,7.79,1.67,1.3,1.26,1.85,3.5,1.85,7.58,0,3.46-.52,5.71-1.46,6.94-1.15,1.44-3.19,1.98-8.18,2.08v2.99c5.87-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM179.24,207.48c0,5.15.84,8.03,2.9,9.83,1.81,1.59,4.64,2.23,10.47,2.33v-2.99c-4.53-.1-6.59-.58-7.77-1.67-1.3-1.22-1.85-3.5-1.85-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M217.62,185.72h3.54v33.59h-3.54v-33.59Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M257.21,219.31h-3.54v-4.69c-1.55,4.29-4.04,5.34-12.63,5.34-5.09,0-7.69-.5-9.58-1.95-1.9-1.45-2.65-3.49-2.65-7.44v-14.88h3.54v14.68c0,5.09,1.75,6.24,9.68,6.24,8.49,0,11.63-1.9,11.63-7.04v-13.88h3.54v23.61Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M262.73,195.7h5.69l.1-5.24h3.54l-.1,5.24h16.22v3h-16.27l-.2,11.83c-.1,5.14,1.1,6.14,7.54,6.14,3.24,0,4.84-.5,5.64-1.8.55-.8.6-1.5.6-4.99v-.8h3.19v.95c0,4.74-.2,5.94-1.2,7.19-1.4,1.75-3.89,2.44-8.49,2.44-4.94,0-7.29-.5-8.94-1.99-1.55-1.4-1.95-2.65-1.95-6.04v-1.1l.25-11.83h-5.64v-3Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M296.4,185.72h3.54v4.34h-3.54v-4.34ZM296.4,195.7h3.54v23.61h-3.54v-23.61Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M335.41,197.69c-1.81-1.59-4.64-2.22-10.49-2.33v3.01c4.49.1,6.59.58,7.79,1.67,1.3,1.26,1.83,3.5,1.83,7.58,0,3.46-.49,5.71-1.44,6.94-1.15,1.44-3.17,1.98-8.18,2.08v2.99c5.85-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM307.6,207.48c0,5.15.84,8.03,2.9,9.83,1.79,1.59,4.61,2.23,10.47,2.33v-2.99c-4.51-.1-6.59-.58-7.79-1.67-1.3-1.22-1.83-3.5-1.83-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M345.98,195.7h3.54v4.69c1.55-4.29,4.04-5.34,12.63-5.34,5.09,0,7.69.5,9.58,1.95s2.65,3.49,2.65,7.44v14.87h-3.54v-14.68c0-5.09-1.75-6.24-9.68-6.24-8.49,0-11.63,1.9-11.63,7.04v13.88h-3.54v-23.61Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M407.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#fcfcfc" stroke-width="0"></path> </g> </g> <g> <path d="M153.23,43.05c0,12.22-5.39,16.14-22.18,16.14s-18.91-2.93-18.91-12.99V12.14h-18.79v34.81c0,10.07,1.47,15.49,5.44,19.98,5.09,5.62,12.98,7.91,27.23,7.91,16.27,0,23.39-2.29,27.59-10.03v8.52h18.42V12.14h-18.8v30.91Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M258.99,38.7c-5.04-2.84-11.03-3.66-26.7-3.66h-9.18c-17.45,0-18.28-1.16-18.28-4.82,0-4.03,2.87-5.95,19.16-5.95s19.79,1.23,19.79,4.94v1.6h19.42v-1.47c0-7.09-2.31-11.94-6.86-14.42-5.47-3-12.74-3.91-31.09-3.91-11.57,0-20.24.6-25.78,1.79-9.9,2.24-13.93,7.55-13.93,18.3,0,12.04,5.63,16.9,20.8,17.95,2.62.1,12.25.29,19.1.29,1.59,0,3,0,4.11-.03,1.07-.02,2.08-.03,3.03-.03,12.77,0,14.1,1.78,14.1,5.85,0,1.97-.92,3.75-2.26,4.42q-3.06,1.41-17.15,1.66c-21.95-.13-22.63-1.15-22.94-7.21v-1.72h-19.55v1.72c0,6.67,1.13,10.38,4.17,13.68,4.66,5.33,11.66,6.79,32.53,6.79,15.58,0,24.81-.51,29.93-1.67,10.39-2.37,14.44-7.71,14.44-19.06,0-7.55-2.24-12.47-6.85-15.04Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M431.48,18.23c-5.23-4.87-13.19-6.84-30.41-7.17v14.75c15.14.27,17.52,3.12,17.52,17.49,0,8.51-1.26,12.24-4.74,14.26-2.08,1.18-5.86,1.81-12.78,2.05v14.75c9.25-.27,17.82-1.18,21.68-2.33,3.34-.99,7.06-3.12,9.28-5.31,3.5-3.53,5.58-12.07,5.58-22.91,0-15.19-1.42-21.16-6.13-25.59ZM360.84,17.82c-4.87,4.32-6.68,11.03-6.68,24.74,0,25.73,5.94,31.45,36.57,31.89v-14.78c-15.11-.3-17.52-3.09-17.52-16.75,0-7.14.85-10.84,3.01-13.25,2-2.35,5.8-3.42,14.51-3.75v-14.84c-7.94.27-16.83,1.15-20.5,2.11-3.67.93-7.17,2.68-9.39,4.63Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M549.09,11.01c-16.11,0-24.28,3.22-28,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.37-25.45,8.97v-7.84h-18.42v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.17-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M314.56,74.47c-13.56,0-19.98-1.67-24.55-6.36-4.77-4.78-4.26-11.89-4.23-18.09.02-4.68.04-9.35.06-14.03,0-.52.03-8.8.04-8.8h-12.06v-13.77h12.19V0h18.7l-.12,13.42h36.8v13.77h-36.83l-.24,21.94c-.06,5,.47,7.51,1.88,8.94,1.52,1.54,4.45,2.14,10.44,2.14,4.31,0,7.17-.71,8.74-2.17,1.13-1.23,1.37-2.66,1.37-8.43v-3.31h15.12v4.79c0,10.9-1.06,14.84-4.92,18.3-4.18,3.66-10.46,5.08-22.4,5.08Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M61.77,49.78c-.41,6.85-3.2,9.92-18.66,9.92-13.18,0-17.73-.69-20.27-3.12-2.61-2.4-3.79-6.64-3.79-13.79v-.1c0-7.15,1.18-11.39,3.79-13.79,2.55-2.42,7.09-3.12,20.27-3.12,15.46,0,18.26,3.08,18.66,9.92l.06,1.04h19.4l-.04-1.14c-.51-19.07-9.23-24.59-38.83-24.59-16.73,0-25.85,1.28-31.48,4.42C3.26,19.65,0,27.8,0,42.69v.1c0,14.89,3.26,23.04,10.88,27.26,5.62,3.14,14.75,4.42,31.48,4.42,29.6,0,38.32-5.52,38.83-24.59l.04-1.14h-19.4l-.06,1.04Z" fill="#fcfcfc" stroke-width="0"></path> </g> </g> </g> </svg>
            </a>

            <div class="hidden items-center gap-6 md:flex">
                <a href="#services" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">Services</a>
                <a href="#work" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">Work</a>
                <a href="#pricing" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">Pricing</a>
                <a href="#faq" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">FAQ</a>
                <a href="#contact" class="text-sm text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">Contact</a>
                <a href="#contact" class="inline-flex items-center justify-center rounded-lg bg-sky-600 px-4 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-sky-600/10 hover:bg-sky-700">Get a quote</a>
            </div>

            <!-- Mobile menu button -->
            <button class="inline-flex items-center justify-center rounded-md p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-sky-500 md:hidden" data-collapse-toggle="mobile-menu" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!-- icon -->
                <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </button>
        </nav>

        <!-- Mobile menu (Flowbite collapse) -->
        <div id="mobile-menu" class="hidden border-t border-gray-100 bg-white/90 px-6 pb-4 pt-2 backdrop-blur dark:border-white/10 dark:bg-gray-950/80 md:hidden">
            <div class="flex flex-col gap-3">
                <a href="#services" class="text-sm text-gray-700 dark:text-gray-300">Services</a>
                <a href="#work" class="text-sm text-gray-700 dark:text-gray-300">Work</a>
                <a href="#pricing" class="text-sm text-gray-700 dark:text-gray-300">Pricing</a>
                <a href="#faq" class="text-sm text-gray-700 dark:text-gray-300">FAQ</a>
                <a href="#contact" class="text-sm text-gray-700 dark:text-gray-300">Contact</a>
                <a href="#contact" class="inline-flex items-center justify-center rounded-lg bg-sky-600 px-4 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-sky-600/10 hover:bg-sky-700">Get a quote</a>
            </div>
        </div>
    </header>

    <!-- ===== HERO ===== -->
    <section class="relative isolate overflow-hidden">
        <!-- ambient gradient blobs -->
        <div class="absolute inset-0 -z-20 bg-gradient-to-b from-sky-50 via-white to-white dark:from-sky-950/30 dark:via-gray-950 dark:to-gray-950"></div>
        <div class="pointer-events-none absolute inset-0 -z-10 [mask-image:radial-gradient(70%_60%_at_30%_15%,#000_60%,transparent_100%)]">
            <div class="absolute -top-40 -left-40 h-96 w-96 rounded-full bg-sky-200/40 blur-3xl dark:bg-sky-500/10"></div>
            <div class="absolute -bottom-40 -right-40 h-[28rem] w-[28rem] rounded-full bg-fuchsia-200/40 blur-3xl dark:bg-fuchsia-500/10"></div>
        </div>

        <!-- RIGHT: Tilted full-height background marquees (reused component) -->
        <div class="pointer-events-none absolute right-[-6rem] top-0 z-0 h-full w-[48vw] rotate-6 sm:right-[-8rem] lg:right-[-10rem] xl:right-[-12rem]">
            <div class="relative h-[115%] w-full -translate-y-[7%] opacity-45 mix-blend-normal dark:opacity-35">
                <div class="absolute inset-0 rounded-[2.5rem] bg-white/20 shadow-[0_0_0_1px_rgba(0,0,0,0.04)] backdrop-blur-[2px] dark:bg-white/5"></div>
                <div class="relative grid h-full w-full grid-cols-2 gap-4 p-4">
                    <!-- Column A (up) -->
                    <div class="relative h-full overflow-hidden rounded-3xl ring-1 ring-black/5 dark:ring-white/5">
                        <div class="flex h-[200%] flex-col gap-4 animate-marquee-vert-up" style="--duration: 28s;">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://placeholdit.com/600?text=Project+Images+go+here+got+to+collect+them" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1520975916090-3105956dac38?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=1600&auto=format&fit=crop" alt="">
                            <!-- duplicates -->
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://placeholdit.com/600?text=Project+Images+go+here+got+to+collect+them" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1520975916090-3105956dac38?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1556157382-97eda2d62296?q=80&w=1600&auto=format&fit=crop" alt="">
                        </div>
                    </div>
                    <!-- Column B (down) -->
                    <div class="relative h-full overflow-hidden rounded-3xl ring-1 ring-black/5 dark:ring-white/5">
                        <div class="flex h-[200%] flex-col gap-4 animate-marquee-vert-down" style="--duration: 28s;">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1542751110-97427bbecf20?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" src="https://images.unsplash.com/photo-1520975916090-3105956dac38?q=80&w=1600&auto=format&fit=crop" alt="">
                            <!-- duplicates -->
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1542751110-97427bbecf20?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?q=80&w=1600&auto=format&fit=crop" alt="">
                            <img class="h-[22vh] w-full rounded-2xl object-cover" aria-hidden="true" src="https://images.unsplash.com/photo-1520975916090-3105956dac38?q=80&w=1600&auto=format&fit=crop" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HERO content -->
        <div class="relative z-10 mx-auto max-w-7xl px-6">
            <div class="grid min-h-[86vh] items-center gap-10 py-20 lg:grid-cols-12 lg:py-28">
                <div class="lg:col-span-7 xl:col-span-6">
          <span class="inline-flex items-center gap-2 rounded-full border border-gray-200 bg-white/60 px-3 py-1 text-xs font-medium text-gray-700 backdrop-blur-md shadow-sm dark:border-white/10 dark:bg-white/5 dark:text-gray-200">
            <span class="h-1.5 w-1.5 rounded-full bg-emerald-500"></span>
            Tailored websites for growing businesses
          </span>
                    <h1 class="mt-6 text-4xl font-extrabold tracking-tight sm:text-6xl">
                        Design, build & grow your online presence.
                    </h1>
                    <p class="mt-5 max-w-2xl text-lg leading-7 text-gray-600 dark:text-gray-300">
                        At <strong>Custom Made Web Solutions</strong>, we craft professional websites that are beautiful, fast, and conversion-focused — plus ongoing support and SEO to help you get found and win more customers.
                    </p>
                    <div class="mt-8 flex flex-wrap items-center gap-3">
                        <a href="#contact" class="inline-flex items-center justify-center rounded-xl bg-gray-900 px-5 py-3 text-sm font-semibold text-white shadow-sm ring-1 ring-gray-900/10 hover:bg-black dark:bg-white dark:text-gray-900 dark:hover:bg-gray-100">Book a free consult</a>
                        <a href="#work" class="inline-flex items-center justify-center rounded-xl border border-gray-200 bg-white/70 px-5 py-3 text-sm font-semibold text-gray-900 shadow-sm backdrop-blur hover:bg-white/90 dark:border-white/10 dark:bg-white/5 dark:text-gray-100 dark:hover:bg-white/10">See our work</a>
                    </div>
                    <div class="mt-8 flex flex-wrap items-center gap-6 text-xs text-gray-500 dark:text-gray-400">
                        <div class="flex items-center gap-2"><span class="h-2 w-2 rounded-full bg-sky-500"></span> SEO-ready builds</div>
                        <div class="hidden h-3 w-px bg-gray-200 dark:bg-white/10 sm:block"></div>
                        <div class="flex items-center gap-2"><span class="h-2 w-2 rounded-full bg-amber-500"></span> Responsive & accessible</div>
                        <div class="hidden h-3 w-px bg-gray-200 dark:bg-white/10 sm:block"></div>
                        <div class="flex items-center gap-2"><span class="h-2 w-2 rounded-full bg-emerald-500"></span> Ongoing support</div>
                    </div>
                </div>
                <div class="lg:col-span-5 xl:col-span-6"></div>
            </div>
        </div>
    </section>

    <!-- ===== SOCIAL PROOF / LOGOS ===== -->
    <section class="border-t border-gray-100 bg-white py-10 dark:border-white/10 dark:bg-gray-950">
        <div class="mx-auto max-w-7xl px-6">
            <p class="mb-6 text-center text-sm text-gray-500 dark:text-gray-400">Trusted by startups & growing businesses</p>
            <div class="grid grid-cols-2 items-center gap-6 opacity-80 sm:grid-cols-4 lg:grid-cols-6">
                <div class="h-10 rounded-md bg-gray-100 dark:bg-white/10"></div>
                <div class="h-10 rounded-md bg-gray-100 dark:bg-white/10"></div>
                <div class="h-10 rounded-md bg-gray-100 dark:bg-white/10"></div>
                <div class="h-10 rounded-md bg-gray-100 dark:bg-white/10"></div>
                <div class="h-10 rounded-md bg-gray-100 dark:bg-white/10"></div>
                <div class="h-10 rounded-md bg-gray-100 dark:bg-white/10"></div>
            </div>
        </div>
    </section>

    <!-- ===== SERVICES ===== -->
    <section id="services" class="relative py-20 sm:py-24">
        <div class="mx-auto max-w-7xl px-6">
            <div class="mx-auto max-w-2xl text-center">
                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Services that move the needle</h2>
                <p class="mt-3 text-gray-600 dark:text-gray-300">No one-size-fits-all. We align every deliverable to your goals, audience, and brand.</p>
            </div>

            <div class="mt-12 grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <!-- Web Design & Dev -->
                <div class="group relative overflow-hidden rounded-2xl border border-gray-200 bg-white p-6 shadow-sm transition hover:shadow-md dark:border-white/10 dark:bg-gray-900">
                    <div class="mb-4 inline-flex h-10 w-10 items-center justify-center rounded-lg bg-sky-600 text-white shadow-sm">WD</div>
                    <h3 class="text-lg font-semibold">Web Design & Development</h3>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">Modern, responsive sites that load fast and convert — built with best practices and accessibility baked in.</p>
                    <ul class="mt-4 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li>• UX/UI tailored to your audience</li>
                        <li>• Lightning-fast performance</li>
                        <li>• CMS or custom builds</li>
                    </ul>
                    <a href="#contact" class="mt-5 inline-flex items-center gap-2 text-sm font-medium text-sky-700 hover:text-sky-900 dark:text-sky-400 dark:hover:text-sky-300">Get a proposal →</a>
                </div>
                <!-- Ongoing Support -->
                <div class="group relative overflow-hidden rounded-2xl border border-gray-200 bg-white p-6 shadow-sm transition hover:shadow-md dark:border-white/10 dark:bg-gray-900">
                    <div class="mb-4 inline-flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600 text-white shadow-sm">OS</div>
                    <h3 class="text-lg font-semibold">Ongoing Support & Maintenance</h3>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">Keep your site healthy with updates, monitoring, backups, and a real human to help.</p>
                    <ul class="mt-4 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li>• Updates & security patches</li>
                        <li>• Performance monitoring</li>
                        <li>• Content changes on request</li>
                    </ul>
                    <a href="#pricing" class="mt-5 inline-flex items-center gap-2 text-sm font-medium text-emerald-700 hover:text-emerald-900 dark:text-emerald-400 dark:hover:text-emerald-300">See plans →</a>
                </div>
                <!-- SEO -->
                <div class="group relative overflow-hidden rounded-2xl border border-gray-200 bg-white p-6 shadow-sm transition hover:shadow-md dark:border-white/10 dark:bg-gray-900">
                    <div class="mb-4 inline-flex h-10 w-10 items-center justify-center rounded-lg bg-amber-600 text-white shadow-sm">SEO</div>
                    <h3 class="text-lg font-semibold">SEO Strategy & Optimization</h3>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">From technical audits to on-page content and local SEO — we help you get discovered.</p>
                    <ul class="mt-4 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li>• Technical SEO foundations</li>
                        <li>• Keyword & content strategy</li>
                        <li>• Analytics & reporting</li>
                    </ul>
                    <a href="#contact" class="mt-5 inline-flex items-center gap-2 text-sm font-medium text-amber-700 hover:text-amber-900 dark:text-amber-400 dark:hover:text-amber-300">Start ranking →</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== PROCESS ===== -->
    <section class="border-t border-gray-100 bg-gray-50 py-20 dark:border-white/10 dark:bg-gray-900/40">
        <div class="mx-auto max-w-7xl px-6">
            <div class="mx-auto max-w-3xl text-center">
                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">A clear, collaborative process</h2>
                <p class="mt-3 text-gray-600 dark:text-gray-300">From discovery to launch — and beyond with support.</p>
            </div>
            <ol class="mt-12 grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
                <li class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <span class="mb-3 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-sm font-bold text-white dark:bg-white dark:text-gray-900">1</span>
                    <h3 class="font-semibold">Discover</h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Goals, audience, scope, and success metrics.</p>
                </li>
                <li class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <span class="mb-3 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-sm font-bold text-white dark:bg-white dark:text-gray-900">2</span>
                    <h3 class="font-semibold">Design</h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">UX flows, wireframes, and pixel-perfect UI.</p>
                </li>
                <li class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <span class="mb-3 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-sm font-bold text-white dark:bg-white dark:text-gray-900">3</span>
                    <h3 class="font-semibold">Build</h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Clean, scalable code with performance and SEO.</p>
                </li>
                <li class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <span class="mb-3 inline-flex h-8 w-8 items-center justify-center rounded-full bg-gray-900 text-sm font-bold text-white dark:bg-white dark:text-gray-900">4</span>
                    <h3 class="font-semibold">Launch & Support</h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Testing, deployment, analytics, and care plans.</p>
                </li>
            </ol>
        </div>
    </section>

    <!-- ===== FEATURED WORK ===== -->
    <section id="work" class="py-20 sm:py-24">
        <div class="mx-auto max-w-7xl px-6">
            <div class="flex items-end justify-between gap-6">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Featured projects</h2>
                    <p class="mt-3 max-w-2xl text-gray-600 dark:text-gray-300">A few examples of clean design, thoughtful UX, and measurable results.</p>
                </div>
                <a href="#contact" class="hidden rounded-xl border border-gray-200 px-4 py-2 text-sm font-medium hover:bg-gray-50 dark:border-white/10 dark:hover:bg-white/5 md:inline-flex">Start your project</a>
            </div>

            <div class="mt-10 grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <!-- Card -->
                <article class="overflow-hidden rounded-2xl border border-gray-200 bg-white shadow-sm transition hover:shadow-md dark:border-white/10 dark:bg-gray-900">
                    <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1600&auto=format&fit=crop" alt="Project screenshot" />
                    <div class="p-6">
                        <h3 class="font-semibold">SaaS Landing Revamp</h3>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">+42% signups after redesign and performance tuning.</p>
                        <div class="mt-4 flex flex-wrap gap-2 text-xs text-gray-500"><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">Next.js</span><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg白/10">Tailwind</span><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">SEO</span></div>
                    </div>
                </article>
                <article class="overflow-hidden rounded-2xl border border-gray-200 bg-white shadow-sm transition hover:shadow-md dark:border-white/10 dark:bg-gray-900">
                    <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1529336953121-ad2af52f3f03?q=80&w=1600&auto=format&fit=crop" alt="Project screenshot" />
                    <div class="p-6">
                        <h3 class="font-semibold">Local Services Website</h3>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Improved local rankings and phone leads.</p>
                        <div class="mt-4 flex flex-wrap gap-2 text-xs text-gray-500"><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">WordPress</span><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">Schema</span><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">Analytics</span></div>
                    </div>
                </article>
                <article class="overflow-hidden rounded-2xl border border-gray-200 bg-white shadow-sm transition hover:shadow-md dark:border白/10 dark:bg-gray-900">
                    <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?q=80&w=1600&auto=format&fit=crop" alt="Project screenshot" />
                    <div class="p-6">
                        <h3 class="font-semibold">E-commerce Refresh</h3>
                        <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Faster pages, higher AOV, happier customers.</p>
                        <div class="mt-4 flex flex-wrap gap-2 text-xs text-gray-500"><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">Shopify</span><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">UX</span><span class="rounded-full bg-gray-100 px-2 py-0.5 dark:bg-white/10">CRO</span></div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- ===== VALUE PROP STRIP ===== -->
    <section class="border-t border-gray-100 bg-white py-12 dark:border-white/10 dark:bg-gray-950">
        <div class="mx-auto max-w-7xl px-6">
            <div class="grid gap-6 sm:grid-cols-3">
                <div class="rounded-2xl border border-gray-200 bg-gray-50 p-6 dark:border-white/10 dark:bg-white/5">
                    <h4 class="font-semibold">Performance first</h4>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">We ship sites that feel instant — core web vitals optimized.</p>
                </div>
                <div class="rounded-2xl border border-gray-200 bg-gray-50 p-6 dark:border-white/10 dark:bg-white/5">
                    <h4 class="font-semibold">SEO fundamentals</h4>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Technical best practices, structured data, and content strategy.</p>
                </div>
                <div class="rounded-2xl border border-gray-200 bg-gray-50 p-6 dark:border-white/10 dark:bg-white/5">
                    <h4 class="font-semibold">Long-term partnership</h4>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Maintenance plans and a responsive team you can count on.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== PRICING ===== -->
    <section id="pricing" class="py-20 sm:py-24">
        <div class="mx-auto max-w-7xl px-6">
            <div class="mx-auto max-w-3xl text-center">
                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Flexible pricing that scales with you</h2>
                <p class="mt-3 text-gray-600 dark:text-gray-300">Start small or go all-in. We’ll tailor a plan to your needs.</p>
            </div>

            <div class="mt-10 grid gap-6 md:grid-cols-3">
                <!-- Starter -->
                <div class="relative flex flex-col rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <div class="text-sm font-medium text-gray-500">Starter</div>
                    <div class="mt-2 text-3xl font-extrabold">£1,500+</div>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">One-page or micro-site for clear messaging.</p>
                    <ul class="mt-4 space-y-2 text-sm text-gray-700 dark:text-gray-300">
                        <li>• Custom design</li>
                        <li>• Responsive build</li>
                        <li>• Basic SEO setup</li>
                    </ul>
                    <a href="#contact" class="mt-6 inline-flex items-center justify-center rounded-lg bg-gray-900 px-4 py-2 text-sm font-semibold text-white hover:bg-black dark:bg-white dark:text-gray-900">Get started</a>
                </div>
                <!-- Business -->
                <div class="relative flex flex-col rounded-2xl border-2 border-sky-600 bg-white p-6 shadow-sm ring-1 ring-sky-600/10 dark:bg-gray-900">
                    <span class="absolute -top-3 right-4 rounded-full bg-sky-600 px-2 py-0.5 text-xs font-semibold text-white">Most popular</span>
                    <div class="text-sm font-medium text-gray-500">Business</div>
                    <div class="mt-2 text-3xl font-extrabold">£4,500+</div>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Multi-page site with strategy and integrations.</p>
                    <ul class="mt-4 space-y-2 text-sm text-gray-700 dark:text-gray-300">
                        <li>• UX/UI design & copy guidance</li>
                        <li>• CMS (e.g., WordPress)</li>
                        <li>• Performance & on-page SEO</li>
                    </ul>
                    <a href="#contact" class="mt-6 inline-flex items-center justify-center rounded-lg bg-sky-600 px-4 py-2 text-sm font-semibold text-white hover:bg-sky-700">Request proposal</a>
                </div>
                <!-- Care / Support -->
                <div class="relative flex flex-col rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <div class="text-sm font-medium text-gray-500">Care & SEO</div>
                    <div class="mt-2 text-3xl font-extrabold">£299+/mo</div>
                    <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">Keep improving with updates and SEO.</p>
                    <ul class="mt-4 space-y-2 text-sm text-gray-700 dark:text-gray-300">
                        <li>• Maintenance & backups</li>
                        <li>• Performance monitoring</li>
                        <li>• SEO content & reporting</li>
                    </ul>
                    <a href="#contact" class="mt-6 inline-flex items-center justify-center rounded-lg border border-gray-200 px-4 py-2 text-sm font-semibold hover:bg-gray-50 dark:border-white/10 dark:hover:bg-white/5">Talk to us</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== TESTIMONIALS ===== -->
    <section class="border-t border-gray-100 bg-gray-50 py-20 dark:border-white/10 dark:bg-gray-900/40">
        <div class="mx-auto max-w-7xl px-6">
            <div class="mx-auto max-w-3xl text-center">
                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">What clients say</h2>
            </div>
            <div class="mt-10 grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <figure class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <blockquote class="text-sm text-gray-700 dark:text-gray-300">“They nailed the design and our leads went up within weeks. Communication was A+.”</blockquote>
                    <figcaption class="mt-4 text-xs text-gray-500">— Alex R., SaaS Founder</figcaption>
                </figure>
                <figure class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <blockquote class="text-sm text-gray-700 dark:text-gray-300">“Fast, reliable, and thoughtful about SEO. We finally show up on page one locally.”</blockquote>
                    <figcaption class="mt-4 text-xs text-gray-500">— Priya K., Clinic Owner</figcaption>
                </figure>
                <figure class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border白/10 dark:bg-gray-900">
                    <blockquote class="text-sm text-gray-700 dark:text-gray-300">“Ongoing support is a lifesaver. They handle updates and we focus on customers.”</blockquote>
                    <figcaption class="mt-4 text-xs text-gray-500">— Miguel S., Retail</figcaption>
                </figure>
            </div>
        </div>
    </section>

    <!-- ===== FAQ (Flowbite Accordion) ===== -->
    <section id="faq" class="py-20 sm:py-24">
        <div class="mx-auto max-w-7xl px-6">
            <div class="mx-auto max-w-3xl text-center">
                <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">FAQs</h2>
                <p class="mt-3 text-gray-600 dark:text-gray-300">Answers to common questions about process, pricing, and timelines.</p>
            </div>

            <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-600 dark:text-gray-300" class="mt-10 divide-y divide-gray-200 rounded-2xl border border-gray-200 bg-white dark:divide-white/10 dark:border-white/10 dark:bg-gray-900">
                <!-- item -->
                <h3 id="faq-1">
                    <button type="button" class="flex w-full items-center justify-between px-6 py-4 text-left text-sm font-medium" data-accordion-target="#faq-1-body" aria-expanded="true" aria-controls="faq-1-body">
                        What’s included in a typical website project?
                        <svg class="h-5 w-5 transition-transform" data-accordion-icon fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>
                    </button>
                </h3>
                <div id="faq-1-body" class="" aria-labelledby="faq-1">
                    <div class="px-6 pb-4 text-sm text-gray-600 dark:text-gray-300">Discovery, UX/UI design, responsive development, basic on-page SEO, performance optimization, QA/testing, and deployment. We can include copywriting, branding, and custom integrations as add-ons.</div>
                </div>

                <h3 id="faq-2">
                    <button type="button" class="flex w-full items-center justify-between px-6 py-4 text-left text-sm font-medium" data-accordion-target="#faq-2-body" aria-expanded="false" aria-controls="faq-2-body">
                        How long does a project take?
                        <svg class="h-5 w-5 transition-transform" data-accordion-icon fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>
                    </button>
                </h3>
                <div id="faq-2-body" class="hidden" aria-labelledby="faq-2">
                    <div class="px-6 pb-4 text-sm text-gray-600 dark:text-gray-300">Simple sites can be ready in a few weeks; larger builds with integrations take longer. We’ll share a clear timeline after discovery.</div>
                </div>

                <h3 id="faq-3">
                    <button type="button" class="flex w-full items-center justify-between px-6 py-4 text-left text-sm font-medium" data-accordion-target="#faq-3-body" aria-expanded="false" aria-controls="faq-3-body">
                        Do you offer support after launch?
                        <svg class="h-5 w-5 transition-transform" data-accordion-icon fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>
                    </button>
                </h3>
                <div id="faq-3-body" class="hidden" aria-labelledby="faq-3">
                    <div class="px-6 pb-4 text-sm text-gray-600 dark:text-gray-300">Yes — our Care plans cover updates, monitoring, backups, minor changes, and SEO improvements.</div>
                </div>

                <h3 id="faq-4">
                    <button type="button" class="flex w-full items-center justify-between px-6 py-4 text-left text-sm font-medium" data-accordion-target="#faq-4-body" aria-expanded="false" aria-controls="faq-4-body">
                        Can you help with SEO content?
                        <svg class="h-5 w-5 transition-transform" data-accordion-icon fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/></svg>
                    </button>
                </h3>
                <div id="faq-4-body" class="hidden" aria-labelledby="faq-4">
                    <div class="px-6 pb-4 text-sm text-gray-600 dark:text-gray-300">Absolutely. We handle keyword research, on-page optimization, and growth content aligned with your business goals.</div>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== CTA STRIP ===== -->
    <section class="relative overflow-hidden">
        <div class="absolute inset-0 -z-10 bg-gradient-to-r from-sky-600 via-sky-500 to-blue-600"></div>
        <div class="mx-auto max-w-7xl px-6 py-14">
            <div class="rounded-3xl bg-white/10 p-8 text-white shadow-xl ring-1 ring-white/20 backdrop-blur">
                <div class="flex flex-col items-start justify-between gap-6 sm:flex-row sm:items-center">
                    <div>
                        <h3 class="text-2xl font-bold tracking-tight">Ready to stand out online?</h3>
                        <p class="mt-1 text-sm text-white/80">Let’s scope your project and map the fastest path to results.</p>
                    </div>
                    <a href="#contact" class="inline-flex items-center justify-center rounded-xl bg-white px-5 py-3 text-sm font-semibold text-gray-900 hover:bg-gray-100">Book a free consult</a>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== CONTACT ===== -->
    <section id="contact" class="py-20 sm:py-24">
        <div class="mx-auto max-w-7xl px-6">
            <div class="grid gap-10 lg:grid-cols-2">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Tell us about your project</h2>
                    <p class="mt-3 text-gray-600 dark:text-gray-300">Share your goals, timeline, and any must-haves. We’ll reply with next steps and a proposal outline.</p>
                    <ul class="mt-6 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li>• Avg. response time: under 24 hours</li>
                        <li>• No pushy sales — promise</li>
                        <li>• Clear pricing and timeline</li>
                    </ul>
                </div>

                <form class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm dark:border-white/10 dark:bg-gray-900">
                    <div class="grid gap-4 sm:grid-cols-2">
                        <div>
                            <label for="name" class="mb-1 block text-sm font-medium">Name</label>
                            <input id="name" type="text" required class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm focus:border-sky-500 focus:ring-sky-500 dark:border-white/10 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-sky-500" placeholder="Jane Smith" />
                        </div>
                        <div>
                            <label for="email" class="mb-1 block text-sm font-medium">Email</label>
                            <input id="email" type="email" required class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm focus:border-sky-500 focus:ring-sky-500 dark:border-white/10 dark:bg-gray-800 dark:placeholder-gray-400" placeholder="jane@company.com" />
                        </div>
                        <div class="sm:col-span-2">
                            <label for="company" class="mb-1 block text-sm font-medium">Company</label>
                            <input id="company" type="text" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm focus:border-sky-500 focus:ring-sky-500 dark:border-white/10 dark:bg-gray-800 dark:placeholder-gray-400" placeholder="Acme Co." />
                        </div>
                        <div class="sm:col-span-2">
                            <label for="project" class="mb-1 block text-sm font-medium">Project details</label>
                            <textarea id="project" rows="4" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm focus:border-sky-500 focus:ring-sky-500 dark:border-white/10 dark:bg-gray-800 dark:placeholder-gray-400" placeholder="What are you trying to achieve?"></textarea>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="mb-1 block text-sm font-medium">Services needed</label>
                            <div class="flex flex-wrap gap-3">
                                <label class="inline-flex items-center gap-2 text-sm"><input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-500" /> Web Design</label>
                                <label class="inline-flex items-center gap-2 text-sm"><input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-500" /> Development</label>
                                <label class="inline-flex items-center gap-2 text-sm"><input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-500" /> SEO</label>
                                <label class="inline-flex items-center gap-2 text-sm"><input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-500" /> Support</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="mt-6 inline-flex w-full items-center justify-center rounded-lg bg-sky-600 px-5 py-3 text-sm font-semibold text-white hover:bg-sky-700">Send message</button>
                    <p class="mt-3 text-center text-xs text-gray-500">By submitting, you agree to our <a href="#" class="underline">privacy policy</a>.</p>
                </form>
            </div>
        </div>
    </section>

    <!-- ===== FOOTER ===== -->
    <footer class="border-t border-gray-100 bg-white py-10 dark:border-white/10 dark:bg-gray-950">
        <div class="mx-auto max-w-7xl px-6">
            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
                <div>
                    <div class="flex items-center gap-2">
                        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 581.13 219.96" class="h-12 dark:hidden"> <g id="Layer_1-2" data-name="Layer 1"> <g> <g> <polygon points="474.02 172.85 508.66 126.01 508.66 107.89 483.26 107.89 483.26 151.22 439.93 151.22 439.93 176.62 471.22 176.62 474.02 172.85" fill="#4100f5" stroke-width="0"></polygon> <polygon points="549.86 151.22 547.07 155 512.4 201.84 512.4 219.95 537.81 219.95 537.81 176.62 581.13 176.62 581.13 151.22 549.86 151.22" fill="#4100f5" stroke-width="0"></polygon> <path d="M535.74,107.89c-27.55,37.35-55.1,74.71-82.65,112.07h32.25c27.64-37.36,55.28-74.71,82.91-112.07h-32.51Z" fill="#4100f5" stroke-width="0"></path> </g> <g> <path d="M98.97,107.76c-16.11,0-24.28,3.22-27.99,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.36-25.45,8.97v-7.83H0v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.16-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#1b1919" stroke-width="0"></path> <path d="M181.88,107.76c-17.61,0-24.62,1.32-29.99,5.65-3.89,3.08-5.43,6.78-5.69,13.65l-.05,1.14h18.86l.1-.99c.51-5.1,1.16-6.06,18.79-6.06s19.41,1.55,19.41,12.36v2.49c-3.56-4.03-10.07-4.85-22.93-4.85-28.53,0-36.82,2.7-36.82,20.59,0,8.22,2.38,13.36,7.47,16.17,4.33,2.49,10.97,3.29,27.34,3.29,14.62,0,21.71-1.63,25.2-6.52v5.39h18.8v-37.58c0-9.95-.96-13.59-4.69-17.72-5.05-5.58-12.41-7.03-35.78-7.03ZM162.22,150.88c0-2.6,1.02-4.72,2.63-5.42,2.85-1.3,8.38-1.91,17.41-1.91,9.77,0,15.71.61,18.74,1.94,1.52.57,2.43,2.4,2.43,4.89,0,5.88-2.65,7.58-20.16,7.58-7.7,0-12.04-.11-14.05-.36-5.83-.91-7-3.24-7-6.72Z" fill="#1b1919" stroke-width="0"></path> <path d="M300.01,87.43v28.44c-1.59-2.08-3.26-3.45-5.56-4.71-4.05-2.16-11.91-3.39-21.54-3.39-13.41,0-21.6,1.34-27.45,4.54-7.66,4.43-10.13,11.36-10.13,28.49,0,12.29,1.72,18.78,6.13,23.18,5.12,5.15,14.18,7.23,31.2,7.23s23.51-1.92,27.84-8.81v7.69h18.28v-82.66h-18.78ZM297.24,152.68c-2.24,2.57-7.28,3.64-17.41,3.64-1.78,0-13.38-.38-14.23-.49-3.31-.36-6.3-1.37-7.8-2.63-2.38-2.16-3.42-6.21-3.42-13.52,0-6.93.93-10.95,3.12-13.49,2.41-2.74,7.99-3.67,22.2-3.67,17.87,0,20.56,2.33,20.56,17.79,0,5.45-1.18,10.29-3.01,12.37Z" fill="#1b1919" stroke-width="0"></path> <path d="M411.62,138.8c0-12.12-1.55-18.2-5.95-23.25-5.33-5.87-12.87-7.66-32.26-7.66-21.03,0-28.71,1.48-34.21,6.58-5.27,4.88-7.52,12.46-7.52,25.33,0,16.07,3.55,23.67,13.11,28.05,4.63,2.06,15.2,3.24,29,3.24,17.94,0,26.22-1.55,31.64-5.91,3.87-3.2,5.8-7.82,6.06-14.51l.05-1.14h-18.45l-.13.95c-.71,5.36-3.35,7.6-17.91,7.6-11.92,0-18.8-.98-21.01-2.97-1.9-1.8-2.93-5.5-3.15-11.31h60.73v-5ZM391.57,125.98c.91,1.72,1.29,3.27,1.37,5.81h-42.07c.09-3.96,1.77-7.37,4.33-8.76,3.27-1.76,6.71-2.13,19.36-2.13,5.74,0,11.3.8,14.11,2.02,1.09.55,2.18,1.69,2.92,3.06Z" fill="#1b1919" stroke-width="0"></path> <g> <path d="M3.9,195.7l9.23,20.87,7.79-20.87h5.39l7.79,20.87,9.23-20.87h3.74l-10.53,23.61h-5.04l-7.94-21.11-7.99,21.11h-4.99L0,195.7h3.89Z" fill="#1b1919" stroke-width="0"></path> <path d="M55.07,208.18c0,4.04.3,5.19,1.5,6.49,1.55,1.65,3.34,2,9.98,2,8.39,0,10.48-.85,10.98-4.44h3.64c-.15,2.15-.75,3.55-2,4.74-2,2-5.34,2.69-12.83,2.69-6.84,0-10.18-.65-12.13-2.35-2.05-1.8-2.9-4.69-2.9-9.78s.85-8.04,2.9-9.83c1.95-1.7,5.29-2.35,12.08-2.35,7.94,0,11.18.85,13.08,3.49,1.4,1.9,1.9,4.24,1.85,9.33h-26.16ZM77.49,205.28c-.05-1.9-.2-2.84-.7-3.84-1.35-2.5-3.3-3.09-10.48-3.09s-9.23.6-10.53,3.09c-.5.95-.65,1.85-.7,3.84h22.41Z" fill="#1b1919" stroke-width="0"></path> <path d="M88.87,185.72h3.54v13.48c1.5-2.94,4.19-3.84,11.83-3.84,6.94,0,10.28.65,12.23,2.35,2.05,1.8,2.9,4.69,2.9,9.83s-.85,7.99-2.9,9.78c-1.95,1.7-5.24,2.35-12.23,2.35-7.59,0-10.38-.9-11.83-3.84v3.49h-3.54v-33.59ZM93.82,200.44c-.95,1.25-1.45,3.49-1.45,6.94,0,8.14,1.45,9.28,11.58,9.28,6.54,0,8.88-.5,10.23-2.1,1-1.25,1.45-3.49,1.45-7.09,0-3.95-.55-6.24-1.85-7.44-1.35-1.25-3.89-1.7-9.78-1.7-6.49,0-8.88.5-10.18,2.1Z" fill="#1b1919" stroke-width="0"></path> <path d="M167.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#1b1919" stroke-width="0"></path> <path d="M207.05,197.69c-1.81-1.59-4.61-2.22-10.49-2.33v3.01c4.51.1,6.61.58,7.79,1.67,1.3,1.26,1.85,3.5,1.85,7.58,0,3.46-.52,5.71-1.46,6.94-1.15,1.44-3.19,1.98-8.18,2.08v2.99c5.87-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM179.24,207.48c0,5.15.84,8.03,2.9,9.83,1.81,1.59,4.64,2.23,10.47,2.33v-2.99c-4.53-.1-6.59-.58-7.77-1.67-1.3-1.22-1.85-3.5-1.85-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#1b1919" stroke-width="0"></path> <path d="M217.62,185.72h3.54v33.59h-3.54v-33.59Z" fill="#1b1919" stroke-width="0"></path> <path d="M257.21,219.31h-3.54v-4.69c-1.55,4.29-4.04,5.34-12.63,5.34-5.09,0-7.69-.5-9.58-1.95-1.9-1.45-2.65-3.49-2.65-7.44v-14.88h3.54v14.68c0,5.09,1.75,6.24,9.68,6.24,8.49,0,11.63-1.9,11.63-7.04v-13.88h3.54v23.61Z" fill="#1b1919" stroke-width="0"></path> <path d="M262.73,195.7h5.69l.1-5.24h3.54l-.1,5.24h16.22v3h-16.27l-.2,11.83c-.1,5.14,1.1,6.14,7.54,6.14,3.24,0,4.84-.5,5.64-1.8.55-.8.6-1.5.6-4.99v-.8h3.19v.95c0,4.74-.2,5.94-1.2,7.19-1.4,1.75-3.89,2.44-8.49,2.44-4.94,0-7.29-.5-8.94-1.99-1.55-1.4-1.95-2.65-1.95-6.04v-1.1l.25-11.83h-5.64v-3Z" fill="#1b1919" stroke-width="0"></path> <path d="M296.4,185.72h3.54v4.34h-3.54v-4.34ZM296.4,195.7h3.54v23.61h-3.54v-23.61Z" fill="#1b1919" stroke-width="0"></path> <path d="M335.41,197.69c-1.81-1.59-4.64-2.22-10.49-2.33v3.01c4.49.1,6.59.58,7.79,1.67,1.3,1.26,1.83,3.5,1.83,7.58,0,3.46-.49,5.71-1.44,6.94-1.15,1.44-3.17,1.98-8.18,2.08v2.99c5.85-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM307.6,207.48c0,5.15.84,8.03,2.9,9.83,1.79,1.59,4.61,2.23,10.47,2.33v-2.99c-4.51-.1-6.59-.58-7.79-1.67-1.3-1.22-1.83-3.5-1.83-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#1b1919" stroke-width="0"></path> <path d="M345.98,195.7h3.54v4.69c1.55-4.29,4.04-5.34,12.63-5.34,5.09,0,7.69.5,9.58,1.95s2.65,3.49,2.65,7.44v14.87h-3.54v-14.68c0-5.09-1.75-6.24-9.68-6.24-8.49,0-11.63,1.9-11.63,7.04v13.88h-3.54v-23.61Z" fill="#1b1919" stroke-width="0"></path> <path d="M407.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#1b1919" stroke-width="0"></path> </g> </g> <g> <path d="M153.23,43.05c0,12.22-5.39,16.14-22.18,16.14s-18.91-2.93-18.91-12.99V12.14h-18.79v34.81c0,10.07,1.47,15.49,5.44,19.98,5.09,5.62,12.98,7.91,27.23,7.91,16.27,0,23.39-2.29,27.59-10.03v8.52h18.42V12.14h-18.8v30.91Z" fill="#1b1919" stroke-width="0"></path> <path d="M258.99,38.7c-5.04-2.84-11.03-3.66-26.7-3.66h-9.18c-17.45,0-18.28-1.16-18.28-4.82,0-4.03,2.87-5.95,19.16-5.95s19.79,1.23,19.79,4.94v1.6h19.42v-1.47c0-7.09-2.31-11.94-6.86-14.42-5.47-3-12.74-3.91-31.09-3.91-11.57,0-20.24.6-25.78,1.79-9.9,2.24-13.93,7.55-13.93,18.3,0,12.04,5.63,16.9,20.8,17.95,2.62.1,12.25.29,19.1.29,1.59,0,3,0,4.11-.03,1.07-.02,2.08-.03,3.03-.03,12.77,0,14.1,1.78,14.1,5.85,0,1.97-.92,3.75-2.26,4.42q-3.06,1.41-17.15,1.66c-21.95-.13-22.63-1.15-22.94-7.21v-1.72h-19.55v1.72c0,6.67,1.13,10.38,4.17,13.68,4.66,5.33,11.66,6.79,32.53,6.79,15.58,0,24.81-.51,29.93-1.67,10.39-2.37,14.44-7.71,14.44-19.06,0-7.55-2.24-12.47-6.85-15.04Z" fill="#1b1919" stroke-width="0"></path> <path d="M431.48,18.23c-5.23-4.87-13.19-6.84-30.41-7.17v14.75c15.14.27,17.52,3.12,17.52,17.49,0,8.51-1.26,12.24-4.74,14.26-2.08,1.18-5.86,1.81-12.78,2.05v14.75c9.25-.27,17.82-1.18,21.68-2.33,3.34-.99,7.06-3.12,9.28-5.31,3.5-3.53,5.58-12.07,5.58-22.91,0-15.19-1.42-21.16-6.13-25.59ZM360.84,17.82c-4.87,4.32-6.68,11.03-6.68,24.74,0,25.73,5.94,31.45,36.57,31.89v-14.78c-15.11-.3-17.52-3.09-17.52-16.75,0-7.14.85-10.84,3.01-13.25,2-2.35,5.8-3.42,14.51-3.75v-14.84c-7.94.27-16.83,1.15-20.5,2.11-3.67.93-7.17,2.68-9.39,4.63Z" fill="#1b1919" stroke-width="0"></path> <path d="M549.09,11.01c-16.11,0-24.28,3.22-28,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.37-25.45,8.97v-7.84h-18.42v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.17-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#1b1919" stroke-width="0"></path> <path d="M314.56,74.47c-13.56,0-19.98-1.67-24.55-6.36-4.77-4.78-4.26-11.89-4.23-18.09.02-4.68.04-9.35.06-14.03,0-.52.03-8.8.04-8.8h-12.06v-13.77h12.19V0h18.7l-.12,13.42h36.8v13.77h-36.83l-.24,21.94c-.06,5,.47,7.51,1.88,8.94,1.52,1.54,4.45,2.14,10.44,2.14,4.31,0,7.17-.71,8.74-2.17,1.13-1.23,1.37-2.66,1.37-8.43v-3.31h15.12v4.79c0,10.9-1.06,14.84-4.92,18.3-4.18,3.66-10.46,5.08-22.4,5.08Z" fill="#1b1919" stroke-width="0"></path> <path d="M61.77,49.78c-.41,6.85-3.2,9.92-18.66,9.92-13.18,0-17.73-.69-20.27-3.12-2.61-2.4-3.79-6.64-3.79-13.79v-.1c0-7.15,1.18-11.39,3.79-13.79,2.55-2.42,7.09-3.12,20.27-3.12,15.46,0,18.26,3.08,18.66,9.92l.06,1.04h19.4l-.04-1.14c-.51-19.07-9.23-24.59-38.83-24.59-16.73,0-25.85,1.28-31.48,4.42C3.26,19.65,0,27.8,0,42.69v.1c0,14.89,3.26,23.04,10.88,27.26,5.62,3.14,14.75,4.42,31.48,4.42,29.6,0,38.32-5.52,38.83-24.59l.04-1.14h-19.4l-.06,1.04Z" fill="#1b1919" stroke-width="0"></path> </g> </g> </g> </svg>
                        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 581.13 219.96" class="h-12 hidden dark:block"> <g id="Layer_1-2" data-name="Layer 1"> <g> <g> <polygon points="474.02 172.85 508.66 126.01 508.66 107.89 483.26 107.89 483.26 151.22 439.93 151.22 439.93 176.62 471.22 176.62 474.02 172.85" fill="#fcfcfc" stroke-width="0"></polygon> <polygon points="549.86 151.22 547.07 155 512.4 201.84 512.4 219.95 537.81 219.95 537.81 176.62 581.13 176.62 581.13 151.22 549.86 151.22" fill="#fcfcfc" stroke-width="0"></polygon> <path d="M535.74,107.89c-27.55,37.35-55.1,74.71-82.65,112.07h32.25c27.64-37.36,55.28-74.71,82.91-112.07h-32.51Z" fill="#fcfcfc" stroke-width="0"></path> </g> <g> <path d="M98.97,107.76c-16.11,0-24.28,3.22-27.99,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.36-25.45,8.97v-7.83H0v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.16-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M181.88,107.76c-17.61,0-24.62,1.32-29.99,5.65-3.89,3.08-5.43,6.78-5.69,13.65l-.05,1.14h18.86l.1-.99c.51-5.1,1.16-6.06,18.79-6.06s19.41,1.55,19.41,12.36v2.49c-3.56-4.03-10.07-4.85-22.93-4.85-28.53,0-36.82,2.7-36.82,20.59,0,8.22,2.38,13.36,7.47,16.17,4.33,2.49,10.97,3.29,27.34,3.29,14.62,0,21.71-1.63,25.2-6.52v5.39h18.8v-37.58c0-9.95-.96-13.59-4.69-17.72-5.05-5.58-12.41-7.03-35.78-7.03ZM162.22,150.88c0-2.6,1.02-4.72,2.63-5.42,2.85-1.3,8.38-1.91,17.41-1.91,9.77,0,15.71.61,18.74,1.94,1.52.57,2.43,2.4,2.43,4.89,0,5.88-2.65,7.58-20.16,7.58-7.7,0-12.04-.11-14.05-.36-5.83-.91-7-3.24-7-6.72Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M300.01,87.43v28.44c-1.59-2.08-3.26-3.45-5.56-4.71-4.05-2.16-11.91-3.39-21.54-3.39-13.41,0-21.6,1.34-27.45,4.54-7.66,4.43-10.13,11.36-10.13,28.49,0,12.29,1.72,18.78,6.13,23.18,5.12,5.15,14.18,7.23,31.2,7.23s23.51-1.92,27.84-8.81v7.69h18.28v-82.66h-18.78ZM297.24,152.68c-2.24,2.57-7.28,3.64-17.41,3.64-1.78,0-13.38-.38-14.23-.49-3.31-.36-6.3-1.37-7.8-2.63-2.38-2.16-3.42-6.21-3.42-13.52,0-6.93.93-10.95,3.12-13.49,2.41-2.74,7.99-3.67,22.2-3.67,17.87,0,20.56,2.33,20.56,17.79,0,5.45-1.18,10.29-3.01,12.37Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M411.62,138.8c0-12.12-1.55-18.2-5.95-23.25-5.33-5.87-12.87-7.66-32.26-7.66-21.03,0-28.71,1.48-34.21,6.58-5.27,4.88-7.52,12.46-7.52,25.33,0,16.07,3.55,23.67,13.11,28.05,4.63,2.06,15.2,3.24,29,3.24,17.94,0,26.22-1.55,31.64-5.91,3.87-3.2,5.8-7.82,6.06-14.51l.05-1.14h-18.45l-.13.95c-.71,5.36-3.35,7.6-17.91,7.6-11.92,0-18.8-.98-21.01-2.97-1.9-1.8-2.93-5.5-3.15-11.31h60.73v-5ZM391.57,125.98c.91,1.72,1.29,3.27,1.37,5.81h-42.07c.09-3.96,1.77-7.37,4.33-8.76,3.27-1.76,6.71-2.13,19.36-2.13,5.74,0,11.3.8,14.11,2.02,1.09.55,2.18,1.69,2.92,3.06Z" fill="#fcfcfc" stroke-width="0"></path> <g> <path d="M3.9,195.7l9.23,20.87,7.79-20.87h5.39l7.79,20.87,9.23-20.87h3.74l-10.53,23.61h-5.04l-7.94-21.11-7.99,21.11h-4.99L0,195.7h3.89Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M55.07,208.18c0,4.04.3,5.19,1.5,6.49,1.55,1.65,3.34,2,9.98,2,8.39,0,10.48-.85,10.98-4.44h3.64c-.15,2.15-.75,3.55-2,4.74-2,2-5.34,2.69-12.83,2.69-6.84,0-10.18-.65-12.13-2.35-2.05-1.8-2.9-4.69-2.9-9.78s.85-8.04,2.9-9.83c1.95-1.7,5.29-2.35,12.08-2.35,7.94,0,11.18.85,13.08,3.49,1.4,1.9,1.9,4.24,1.85,9.33h-26.16ZM77.49,205.28c-.05-1.9-.2-2.84-.7-3.84-1.35-2.5-3.3-3.09-10.48-3.09s-9.23.6-10.53,3.09c-.5.95-.65,1.85-.7,3.84h22.41Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M88.87,185.72h3.54v13.48c1.5-2.94,4.19-3.84,11.83-3.84,6.94,0,10.28.65,12.23,2.35,2.05,1.8,2.9,4.69,2.9,9.83s-.85,7.99-2.9,9.78c-1.95,1.7-5.24,2.35-12.23,2.35-7.59,0-10.38-.9-11.83-3.84v3.49h-3.54v-33.59ZM93.82,200.44c-.95,1.25-1.45,3.49-1.45,6.94,0,8.14,1.45,9.28,11.58,9.28,6.54,0,8.88-.5,10.23-2.1,1-1.25,1.45-3.49,1.45-7.09,0-3.95-.55-6.24-1.85-7.44-1.35-1.25-3.89-1.7-9.78-1.7-6.49,0-8.88.5-10.18,2.1Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M167.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M207.05,197.69c-1.81-1.59-4.61-2.22-10.49-2.33v3.01c4.51.1,6.61.58,7.79,1.67,1.3,1.26,1.85,3.5,1.85,7.58,0,3.46-.52,5.71-1.46,6.94-1.15,1.44-3.19,1.98-8.18,2.08v2.99c5.87-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM179.24,207.48c0,5.15.84,8.03,2.9,9.83,1.81,1.59,4.64,2.23,10.47,2.33v-2.99c-4.53-.1-6.59-.58-7.77-1.67-1.3-1.22-1.85-3.5-1.85-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M217.62,185.72h3.54v33.59h-3.54v-33.59Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M257.21,219.31h-3.54v-4.69c-1.55,4.29-4.04,5.34-12.63,5.34-5.09,0-7.69-.5-9.58-1.95-1.9-1.45-2.65-3.49-2.65-7.44v-14.88h3.54v14.68c0,5.09,1.75,6.24,9.68,6.24,8.49,0,11.63-1.9,11.63-7.04v-13.88h3.54v23.61Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M262.73,195.7h5.69l.1-5.24h3.54l-.1,5.24h16.22v3h-16.27l-.2,11.83c-.1,5.14,1.1,6.14,7.54,6.14,3.24,0,4.84-.5,5.64-1.8.55-.8.6-1.5.6-4.99v-.8h3.19v.95c0,4.74-.2,5.94-1.2,7.19-1.4,1.75-3.89,2.44-8.49,2.44-4.94,0-7.29-.5-8.94-1.99-1.55-1.4-1.95-2.65-1.95-6.04v-1.1l.25-11.83h-5.64v-3Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M296.4,185.72h3.54v4.34h-3.54v-4.34ZM296.4,195.7h3.54v23.61h-3.54v-23.61Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M335.41,197.69c-1.81-1.59-4.64-2.22-10.49-2.33v3.01c4.49.1,6.59.58,7.79,1.67,1.3,1.26,1.83,3.5,1.83,7.58,0,3.46-.49,5.71-1.44,6.94-1.15,1.44-3.17,1.98-8.18,2.08v2.99c5.85-.1,8.67-.74,10.49-2.33,2-1.79,2.88-4.68,2.88-9.62,0-5.29-.84-8.14-2.88-9.99ZM307.6,207.48c0,5.15.84,8.03,2.9,9.83,1.79,1.59,4.61,2.23,10.47,2.33v-2.99c-4.51-.1-6.59-.58-7.79-1.67-1.3-1.22-1.83-3.5-1.83-7.5,0-3.54.45-5.79,1.44-7.02,1.15-1.42,3.17-1.98,8.18-2.08v-3.01c-5.85.1-8.71.74-10.47,2.33-2.06,1.81-2.9,4.7-2.9,9.79Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M345.98,195.7h3.54v4.69c1.55-4.29,4.04-5.34,12.63-5.34,5.09,0,7.69.5,9.58,1.95s2.65,3.49,2.65,7.44v14.87h-3.54v-14.68c0-5.09-1.75-6.24-9.68-6.24-8.49,0-11.63,1.9-11.63,7.04v13.88h-3.54v-23.61Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M407.23,201.84c0-2.9-1.6-3.49-9.78-3.49-9.68,0-11.38.6-11.38,3.99,0,1.55.5,2.4,1.65,2.85.95.4,2.45.45,9.08.5,8.89.05,10.28.2,12.23,1.2,1.85.95,2.6,2.5,2.6,5.59,0,3.39-.95,5.19-3.25,6.14-2.1.85-4.44,1.05-11.68,1.05-7.94,0-10.43-.3-12.23-1.45-1.9-1.25-2.5-2.69-2.5-6.29v-.6h3.64v.6c0,2.4.2,3.05,1.25,3.64,1.3.85,3.84,1.1,10.73,1.1,9.14,0,10.28-.45,10.28-4.04,0-1.75-.35-2.6-1.25-3.09-1.3-.7-1.45-.75-10.03-.8-10.08-.1-10.33-.1-12.08-1.2-1.5-.9-2.2-2.6-2.2-5.19,0-2.79.9-4.74,2.7-5.59,2.05-1.05,4.84-1.4,11.23-1.4,8.19,0,10.68.35,12.63,1.75,1.35.95,1.9,2.45,1.9,4.89v.4h-3.54v-.55Z" fill="#fcfcfc" stroke-width="0"></path> </g> </g> <g> <path d="M153.23,43.05c0,12.22-5.39,16.14-22.18,16.14s-18.91-2.93-18.91-12.99V12.14h-18.79v34.81c0,10.07,1.47,15.49,5.44,19.98,5.09,5.62,12.98,7.91,27.23,7.91,16.27,0,23.39-2.29,27.59-10.03v8.52h18.42V12.14h-18.8v30.91Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M258.99,38.7c-5.04-2.84-11.03-3.66-26.7-3.66h-9.18c-17.45,0-18.28-1.16-18.28-4.82,0-4.03,2.87-5.95,19.16-5.95s19.79,1.23,19.79,4.94v1.6h19.42v-1.47c0-7.09-2.31-11.94-6.86-14.42-5.47-3-12.74-3.91-31.09-3.91-11.57,0-20.24.6-25.78,1.79-9.9,2.24-13.93,7.55-13.93,18.3,0,12.04,5.63,16.9,20.8,17.95,2.62.1,12.25.29,19.1.29,1.59,0,3,0,4.11-.03,1.07-.02,2.08-.03,3.03-.03,12.77,0,14.1,1.78,14.1,5.85,0,1.97-.92,3.75-2.26,4.42q-3.06,1.41-17.15,1.66c-21.95-.13-22.63-1.15-22.94-7.21v-1.72h-19.55v1.72c0,6.67,1.13,10.38,4.17,13.68,4.66,5.33,11.66,6.79,32.53,6.79,15.58,0,24.81-.51,29.93-1.67,10.39-2.37,14.44-7.71,14.44-19.06,0-7.55-2.24-12.47-6.85-15.04Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M431.48,18.23c-5.23-4.87-13.19-6.84-30.41-7.17v14.75c15.14.27,17.52,3.12,17.52,17.49,0,8.51-1.26,12.24-4.74,14.26-2.08,1.18-5.86,1.81-12.78,2.05v14.75c9.25-.27,17.82-1.18,21.68-2.33,3.34-.99,7.06-3.12,9.28-5.31,3.5-3.53,5.58-12.07,5.58-22.91,0-15.19-1.42-21.16-6.13-25.59ZM360.84,17.82c-4.87,4.32-6.68,11.03-6.68,24.74,0,25.73,5.94,31.45,36.57,31.89v-14.78c-15.11-.3-17.52-3.09-17.52-16.75,0-7.14.85-10.84,3.01-13.25,2-2.35,5.8-3.42,14.51-3.75v-14.84c-7.94.27-16.83,1.15-20.5,2.11-3.67.93-7.17,2.68-9.39,4.63Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M549.09,11.01c-16.11,0-24.28,3.22-28,11.3-4.08-7.89-12.38-11.3-27.1-11.3s-21.44,2.37-25.45,8.97v-7.84h-18.42v61.19h18.8v-32.92c0-10.43,5.24-14.12,20.04-14.12s17.27,2.35,17.27,13.24v33.8h18.8v-31.92c0-11.36,4.9-15.01,20.17-15.01s17.14,3.27,17.14,12.49v34.43h18.8v-35.56c0-19.51-8.68-26.76-32.04-26.76Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M314.56,74.47c-13.56,0-19.98-1.67-24.55-6.36-4.77-4.78-4.26-11.89-4.23-18.09.02-4.68.04-9.35.06-14.03,0-.52.03-8.8.04-8.8h-12.06v-13.77h12.19V0h18.7l-.12,13.42h36.8v13.77h-36.83l-.24,21.94c-.06,5,.47,7.51,1.88,8.94,1.52,1.54,4.45,2.14,10.44,2.14,4.31,0,7.17-.71,8.74-2.17,1.13-1.23,1.37-2.66,1.37-8.43v-3.31h15.12v4.79c0,10.9-1.06,14.84-4.92,18.3-4.18,3.66-10.46,5.08-22.4,5.08Z" fill="#fcfcfc" stroke-width="0"></path> <path d="M61.77,49.78c-.41,6.85-3.2,9.92-18.66,9.92-13.18,0-17.73-.69-20.27-3.12-2.61-2.4-3.79-6.64-3.79-13.79v-.1c0-7.15,1.18-11.39,3.79-13.79,2.55-2.42,7.09-3.12,20.27-3.12,15.46,0,18.26,3.08,18.66,9.92l.06,1.04h19.4l-.04-1.14c-.51-19.07-9.23-24.59-38.83-24.59-16.73,0-25.85,1.28-31.48,4.42C3.26,19.65,0,27.8,0,42.69v.1c0,14.89,3.26,23.04,10.88,27.26,5.62,3.14,14.75,4.42,31.48,4.42,29.6,0,38.32-5.52,38.83-24.59l.04-1.14h-19.4l-.06,1.04Z" fill="#fcfcfc" stroke-width="0"></path> </g> </g> </g> </svg>
                    </div>
                    <p class="mt-3 text-sm text-gray-600 dark:text-gray-300">We design, build, and grow websites that help businesses thrive.</p>
                </div>
                <div>
                    <h4 class="text-sm font-semibold">Company</h4>
                    <ul class="mt-3 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li><a href="#services" class="hover:underline">Services</a></li>
                        <li><a href="#work" class="hover:underline">Work</a></li>
                        <li><a href="#pricing" class="hover:underline">Pricing</a></li>
                        <li><a href="#faq" class="hover:underline">FAQ</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="text-sm font-semibold">Legal</h4>
                    <ul class="mt-3 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li><a href="#" class="hover:underline">Privacy</a></li>
                        <li><a href="#" class="hover:underline">Terms</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="text-sm font-semibold">Get in touch</h4>
                    <ul class="mt-3 space-y-2 text-sm text-gray-600 dark:text-gray-300">
                        <li><a href="mailto:hello@cmwebsolutions.com" class="hover:underline">hello@cmwebsolutions.com</a></li>
                        <li><a href="#contact" class="hover:underline">Book a consult</a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-8 flex flex-col items-center justify-between gap-4 border-t border-gray-100 pt-6 text-xs text-gray-500 dark:border-white/10 sm:flex-row">
                <p>© <span id="year"></span> Custom Made Web Solutions. All rights reserved.</p>
                <div class="flex items-center gap-4">
                    <a href="#" class="hover:underline">LinkedIn</a>
                    <a href="#" class="hover:underline">Twitter/X</a>
                    <a href="#" class="hover:underline">Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</Layout>
